:root{
    --main-color: #b7b7ff;
    --height: 100vh;
    --main-font-family: Arial, sans-serif;
    --display-bg-color: #f6f6ff;
    --border-button-color: rgb(195, 195, 195);
    --equal-bg-color: #7c8ddc;
    --dark-mode-btn-color: #3e3d4f;
    --dark-mode-btn-font-color: #cabbd4;
    --btn-color: white;
    --btn-font-color: black;
    --display-font-color: black;
    --shaded-btns: #e0e4f6;
    --shaded-clear-btn: #234323;
    --clear-btn-color: #ff713d;
    --clear-btn-font-color: white;
}

.dark-theme{
    --main-color: #262B40;
    --display-bg-color: #657894;
    --border-btn-color: #5379AE;
    --equal-bg-color: #4c2c3d;
    --dark-mode-btn-color: #aa8ab3;
    --dark-mode-btn-font-color: #4c305e;
    --btn-color: #5379AE;
    --btn-font-color: #fdfdfd;
    --display-font-color:#ffffff;
    --shaded-btns: #2a5a87 ;
    --clear-btn-font-color: white;
    --clear-btn-color: #693f22;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
    background-color: var(--main-color);
    font-family: var(--main-font-family);
}

.calculator{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display{
    padding: 20px;
    font-size: 30px;
    border: solid;
    text-align: right;
    background-color: var(--display-bg-color);
    border-radius: 10px 10px 0 0; 
    border-color: var(--border-button-color);
    color: var(--display-font-color);
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,105px);
    
}

.btn{
    padding: 20px;
    font-size: 20px;
    border: 2px solid var(--border-button-color);
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--btn-color);
    color: var(--btn-font-color);
}

.clear{
    background-color: var(--clear-btn-color);
    color: var(--clear-btn-font-color);
}

.shade{
    background-color: var(--shaded-btns);
}

.equal{
    grid-column: span 3;
    background-color: var(--equal-bg-color);
}

.btn:hover{
    opacity: 0.8;
}

/* Dark Mode Button */

.dark-mode-button-container{
    display: flex;
    position: absolute;
    top:5px;
    padding: 15px;
}

.dark-mode-button{
    cursor: pointer;
    padding: 5px;
    width: 21vw;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: var(--dark-mode-btn-color);
}

span{
    color: var(--dark-mode-btn-font-color);    
}

















